
{% extends "base.html" %}

{% block content %}

<h1>Add new post</h1>
<form method='post'>
    <label>
        Title:<br />
        <input type="text" name='post_title' />
    </label>
    <br />
    <label>
        Content:<br />
        <textarea name='post_body'></textarea>
        </label>
        <br />
    <input type="submit" value='Post' />
</form>

<hr />
<h1>The Feed</h1>

{% if posts|length == 0 %}
<p>No posts yet</p>
{% else %}

    <ul>
        {% for post in posts %}
        <li><h4>{{post.title}}</h4>
            <p>{{post.body}}</p>

        </li>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %}