{% extends "base.html" %}

{% block content %}

<h1>Create New Account</h1>
<p>If you have an existing account, <a href="/login">login here.</a></p>
<form action='/signup' method='POST'>
    <table>
        <tbody>
            <tr>
                <td vAlign="top">
                    <label for="username">Username</label>
                </td>
                <td>
                    <input type="username" name="username" value='{{username}}'/>
                </td>
            </tr>   
            <tr>
                <td vAlign="top">
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" name="password" value=''/>
                </td>
            </tr>     
            <tr>
                <td vAlign="top">
                    <label for="password_verify">Verify Password</label>
                </td>
                <td>
                    <input type="password" name="password_verify" value=''/>
                </td>
            </tr> 
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit"/>
                </td>
            </tr>           
        </tbody>
    </table>
</form>

{% endblock %}
